:root {
    --font-lato: "Lato", sans-serif;
    --bg-color: #FFFFFF;
    --green-color: #01996D;
    --dark-green-color: #245852;
    --black-color-one: #292929;
    --black-color-two: #424242;
    --black-color-three: #484848;
    --black-color-four: #000;
    
}